/.idea
/.idea/*.xml
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
horizon.log
npm-debug.log
yarn-error.log
*.lock
*.php_cs.cache
/package-lock.json
*.DS_Store
/worker.log
/.phpstorm.meta.php
/public/icons/icon*.png
/public/icons/favicon.ico
/public/assets/pmb/login.css
/public/assets/pmb/login.js
/public/css/app.css
/public/firebase-messaging-sw.js
/public/firebase-messaging.js
/public/js/app.js
/public/js/laravel-echo-setup.js
/public/js/xterm.js
_ide_helper.php
_ide_helper_models.php
/public/js/common.js
*.js.LICENSE.txt
